{{- $bwUnlocked := false -}}
{{- if env "BW_SESSION" -}}
{{-   if ne (output "sh" "-c" "bw list folders --nointeraction 2>/dev/null | head -c 2 || echo ''") "" -}}
{{-     $bwUnlocked = true -}}
{{-   end -}}
{{- end -}}
{{ if or (eq .machine "work") (not $bwUnlocked) }}
.ssh/id_ed25519
.ssh/id_ed25519.pub
{{ end }}
